.ftprin{
    width: 100%;
    width: 1263px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
@keyframes show {
    from{
        opacity: 0;
        scale: 25%;
    }
    to {
        opacity: 1;
        scale: 100%;
    }
}

img {
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 30%;
    animation-fill-mode: both;
}
.fotosindex{
    display: flex;
    justify-content: center;
}
.fotoca{
    width: 800px;
    height: 400px;
    margin-top: 100px;
}
.divfu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fotofu{
    width: 400px;
    height: 400px;
    margin-top: 150px;
    margin-left: 110px;
    margin-right: 110px;
}
.fotofi{
    width: 800px;
    height: 400px;
    margin-top: 150px;
}
.tx{
    text-align: center;
    margin-top: 20px;
    font-family: 'Audiowide', sans-serif;
    color: black;
}